
.container{
	width: 90%;
	margin: auto;
}
.accordion{
	width: 450px;
	margin-bottom: 2px;
	padding: 5px;
	    margin-left: 10px;
    margin-top: 20px;
}
h3{
	position: relative;
	color: white;
	background-color: #5aff5a;
	margin: 0 10px;
	margin-bottom: 10px;

	height:88px;
	font-family: 'Open Sans' 'semibold';
	padding-top: 30px;
	padding:6px;
	font-size: 16px;
}	
p{
	font-size: 14px;
	color:#797979;
	font-family: 'Open Sans' ,'regular';
	margin: 0 10px;
	background-color: #f3f3f3;
	padding:6px;
	margin-bottom: 10px;
	margin-top: -10px;
}
a{
	text-decoration: none;
	color: #fff;
	width: 400px;
	font-size: 14;
	font-family: 'Open Sans' ,'regular';
}
.fa-plus, .fa-minus{
	font-size: 16px;
	position: absolute;
	top: 35px;
	right:5px;
	padding: 3px;
}
.fa-plus {
	font-size: 30px;
}
/*style the list for nav*/
nav{
	margin-right: 0;
	background-color: #5aff5a;
	width: 100%;
	margin-bottom: 35px;
}
ul{
	padding: 0;
}
li{
	list-style: none;
	
	display: inline-block;
	width: 19%;
	text-align: center;
	padding: 15px 0;
}
button{
	display: none;
}
.navigation{
		display:block;
	}

@media only screen and (max-width: 600px) {
	li{
		display: block;
	}
	li:hover{
		opacity: 0.4;
	}
	.button-trigger{
		display: block;
		position: absolute;
		right:10px;
		top:10px;
		font-size: 20px;
		background-color: transparent;
		color:#fff;
		cursor: pointer;
		border:1px solid white;
		padding: 3px 7px;
	}
	button:focus { outline-style: none; }
	
	.navigation{
		display:none;
	}
	.navbar-header{
		width: 100%;
		margin: auto;
		background-color: #ff004e;
		height: 50px;
		margin-bottom: -17px;
	}

}

